@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

@font-face {
    font-family: productsans;
    src: url(pp.ttf) format("truetype");
}

@font-face {
    font-family: prodsansbold;
    src: url(ppb.ttf) format("truetype");
}


/* chaged next button hover color */
:root{
	--primary: #0F1C70;
	--secondary: #bfc0c0;
	--white: #fff;
	--text-clr: #5b6475;
	--header-clr: #25273d;
	--next-btn-hover: #00cc99;
	--back-btn-hover: #8b8c8c;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	outline: none;
	font-family: productsans;
}

body{
	background: var(--primary);
	color: var(--text-clr);
	font-size: 16px;
	position: relative;
}

a{
    text-decoration: none;
    color: inherit;
}
.wrapper{
    
	width: 650px;
	max-width: 100%;
	background: var(--white);
	margin: 100px auto 0;
	padding: 50px;
	border-radius: 5px;

}

.wrapper .header{
	margin-bottom: 35px;
	display: flex;
	justify-content: center;
    flex-wrap: wrap ;
}

.wrapper .header ul{
	display: flex;
}

.wrapper .header ul li{
	margin-right: 50px;
	position: relative;
}

.wrapper .header ul li:last-child{
	margin-right: 0;
}

.wrapper .header ul li:before{
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 55px;
	width: 100%;
	height: 2px;
	background: var(--secondary);
}

.wrapper .header ul li:last-child:before{
	display: none;
}

.wrapper .header ul li div{
	padding: 5px;
	border-radius: 50%;
}

.wrapper .header ul li p{
	width: 50px;
	height: 50px;
	background: var(--secondary);
	color: var(--white);
	text-align: center;
	line-height: 50px;
	border-radius: 50%;
}

.wrapper .header ul li.active:before{
	background: var(--primary);
}

.wrapper .header ul li.active p{
	background: var(--primary);
}

.wrapper .form_wrap{
	margin-bottom: 35px;
}



/* changed h2 color */
.wrapper .form_wrap h2{
	color: var(--primary);
	text-align: center;
	
	margin-bottom: 20px;
}


/* Changed width to 500px */
.wrapper .form_wrap .input_wrap{
	width: 500px;
	max-width: 100%;
	margin: 0 auto 20px;
}

.wrapper .form_wrap .input_wrap:last-child{
	margin-bottom: 0;
}

.wrapper .form_wrap .input_wrap label{
	display: block;
	margin-bottom: 5px;
}

.wrapper .form_wrap .input_wrap .input{
	border: 2px solid var(--secondary);
	border-radius: 3px;
	padding: 10px;
	display: block;
	width: 100%;	
	font-size: 16px;
	transition: 0.5s ease;
}

.wrapper .form_wrap .input_wrap .input:focus{
	border-color: var(--primary);
}

.wrapper .btns_wrap{
	width: 350px;
	max-width: 100%;
	margin: 0 auto;
}

.wrapper .btns_wrap .common_btns{
	display: flex;
	justify-content: space-between;
}

.wrapper .btns_wrap .common_btns.form_1_btns{
	justify-content: flex-end;
}



/* changed button background color */
.wrapper .btns_wrap .common_btns button{
	border: 0;
	padding: 12px 15px;
	background: #00cc99;
	color: var(--white);
	width: 135px;
	justify-content: center;
	display: flex;
	align-items: center;
	font-size: 16px;
	border-radius: 3px;
	transition: 0.5s ease;
	cursor: pointer;
}




.wrapper .btns_wrap .common_btns button.btn_back{
	background: var(--secondary);
}

.wrapper .btns_wrap .common_btns button.btn_next .icon{
	display: flex;
	margin-left: 10px;
}

.wrapper .btns_wrap .common_btns button.btn_back .icon{
	display: flex;
	margin-right: 10px;
}


/* added opacity tag for hover */
.wrapper .btns_wrap .common_btns button.btn_next:hover,
.wrapper .btns_wrap .common_btns button.btn_done:hover{
	background: var(--next-btn-hover);
    opacity:65%
}

.wrapper .btns_wrap .common_btns button.btn_back:hover{
	background: var(--back-btn-hover);
}

.modal_wrapper{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
}

.modal_wrapper .shadow{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	opacity: 0;
	transition: 0.2s ease;
}

.modal_wrapper .success_wrap{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-800px);
	background: var(--white);
	padding: 50px;
	display: flex;
	align-items: center;
	border-radius: 5px;
	transition: 0.5s ease;
}

.modal_wrapper .success_wrap .modal_icon{
	margin-right: 20px;
	width: 50px;
	height: 50px;
	background: var(--primary);
	color: var(--white);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 32px;
	font-weight: 700;
}

.modal_wrapper.active{
	visibility: visible;
}

.modal_wrapper.active .shadow{
	opacity: 1;
}

.modal_wrapper.active .success_wrap{
	transform: translate(-50%,-50%);
}


/* added color for font */
.test2{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    color: #0F1C70;
}


/* added height tag */
.test{
    display: inline-flex;
    width: 260px;
    border: 1px solid;
    padding-left: 4px;
    align-content: space-around;
    flex-wrap: wrap;
    box-shadow: 5px 5px 5px rgb(0,0,0,0.1);
    border-radius: 10px;
    padding-left:1rem;
    margin-bottom: 1rem;
    height: 75px;
}

.outer1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.outer2{

    display: flex;  
    flex-direction: column;
    flex-wrap: wrap;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    
    background-size: cover;
    background-position: 50% 50%;
    z-index: -1;
  }

  .form_container{
    display: flex;
    justify-content: space-around;
  }

/* Deleted lots of commetned sueless lines */


/* ADDED NEW CLASS CSS STATEMENTS */
.final{
    display: flex;
    flex-direction: column;
    width:100%;    
}


/* Added color tag */
.aaa{
    font-family: prodsansbold;
    font-size: 120%;
    color: #0F1C70;
}


/* added colortag */
.bbb{
    font-size: 91%;
    color: #0F1C70;
}

.colors{
    margin-top: 6.9px;
    display: flex;
    width: 150px;
    justify-content: space-between;
}

/* changed bg color */
.c1{
    width: 20px;
    height: 20px;
    background-color: #C3C3E6;
}


/* changed bg color */
.c2{
    width: 20px;
    height: 20px;
    background-color: #D1C8E1;
}



/* changed bg color */
.c3{
    width: 20px;
    height: 20px;
    background-color: #BBA0CA;
}


/* changed bg color */
.c4{
    width: 20px;
    height: 20px;
    background-color: #B370B0;
}



/* changed bg color */
.c5{
    width: 20px;
    height: 20px;
    background-color: #87255B;
}



/* changed bg color */
.d1{
    width: 20px;
    height: 20px;
    background-color: #FF7477;
}



/* changed bg color */
.d2{
    width: 20px;
    height: 20px;
    background-color: #E69597;
}



/* changed bg color */
.d3{
    width: 20px;
    height: 20px;
    background-color: #CEB5B7;
}



/* changed bg color */
.d4{
    width: 20px;
    height: 20px;
    background-color: #B5D6D6;
}



/* changed bg color */
.d5{
    width: 20px;
    height: 20px;
    background-color: #9CF6F6;
}



/* changed bg color */
.e1{
    width: 20px;
    height: 20px;
    background-color: #545F66;
}



/* changed bg color */
.e2{
    width: 20px;
    height: 20px;
    background-color: #829399;
}



/* changed bg color */
.e3{
    width: 20px;
    height: 20px;
    background-color: #D0F4EA;
}



/* changed bg color */
.e4{
    width: 20px;
    height: 20px;
    background-color: #E8FCC2;
}



/* changed bg color */
.e5{
    width: 20px;
    height: 20px;
    background-color: #B1CC74;
}



/* changed bg color */
.f1{
    width: 20px;
    height: 20px;
    background-color: #031926;
}



/* changed bg color */
.f2{
    width: 20px;
    height: 20px;
    background-color: #468189;
}



/* changed bg color */
.f3{
    width: 20px;
    height: 20px;
    background-color: #77ACA2;
}



/* changed bg color */
.f4{
    width: 20px;
    height: 20px;
    background-color: #9DBEBB;
}



/* changed bg color */
.f5{
    width: 20px;
    height: 20px;
    background-color: #F4E9CD;
}



/* changed bg color */
.g1{
    width: 20px;
    height: 20px;
    background-color: #1C77C3;
}



/* changed bg color */
.g2{
    width: 20px;
    height: 20px;
    background-color: #39A9DB;
}



/* changed bg color */
.g3{
    width: 20px;
    height: 20px;
    background-color: #40BCD8;
}



/* changed bg color */
.g4{
    width: 20px;
    height: 20px;
    background-color: #F39237;
}



/* changed bg color */
.g5{
    width: 20px;
    height: 20px;
    background-color: #D63230;
}



/* changed bg color */
.h1{
    width: 20px;
    height: 20px;
    background-color: #B37BA4;
}



/* changed bg color */
.h2{
    width: 20px;
    height: 20px;
    background-color: #D99AC5;
}



/* changed bg color */
.h3{
    width: 20px;
    height: 20px;
    background-color: #DCCDE8;
}



/* changed bg color */
.h4{
    width: 20px;
    height: 20px;
    background-color: #14BDEB;
}



/* changed bg color */
.h5{
    width: 20px;
    height: 20px;
    background-color: #00100B;
}



/* changed bg color */
.i1{
    width: 20px;
    height: 20px;
    background-color: #DD614A;
}



/* changed bg color */
.i2{
    width: 20px;
    height: 20px;
    background-color: #F48668;
}



/* changed bg color */
.i3{
    width: 20px;
    height: 20px;
    background-color: #F2F3AE;
}



/* changed bg color */
.i4{
    width: 20px;
    height: 20px;
    background-color: #EDD382;
}



/* changed bg color */
.i5{
    width: 20px;
    height: 20px;
    background-color: #4F6D7A;
}



/* changed bg color */
.j1{
    width: 20px;
    height: 20px;
    background-color: #D3FAD6;
}



/* changed bg color */
.j2{
    width: 20px;
    height: 20px;
    background-color: #D1EFB5;
}



/* changed bg color */
.j3{
    width: 20px;
    height: 20px;
    background-color: #EDEBA0;
}



/* changed bg color */
.j4{
    width: 20px;
    height: 20px;
    background-color: #C3C48D;
}



/* changed bg color */
.j5{
    width: 20px;
    height: 20px;
    background-color: #928C6F;
}




/* All code below is newly added code */


.ans{
    font-size: 105%;
    border-radius: 15px;
    padding-left: 1rem;
    padding-top: 1rem;
    margin-top: 10px;
    width:550px;
    box-shadow: 5px 5px 5px rgb(0,0,0,0.1);
    resize: none;
    color: #0F1C70;

}

.brand{
    width: 550px;
    border-radius: 10px;
    padding: 10px 0 10px 1rem;
    font-size: 105%;
    box-shadow: 5px 5px 5px rgb(0,0,0,0.1);

}

::placeholder{
    color: #0F1C70;
    opacity: 37%;
}

.words{
    font-size: 105%;
    color: #B1B1B1;
}
.words2{
    font-size: 105%;
    padding-bottom: 30px;
    color: #B1B1B1;
    width: 650px;
    display: block;
}
